* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

/* White square area */
.container {
  width: 300px;
  height: 300px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Red dot */
.dot {
  width: 40px;
  height: 40px;
  background: #e74c4c;
  border-radius: 50%;
}
